/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
    
  }
  .container{
    max-width: 1140px;
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  .logo img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
    display: block;
  }
  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
 


    /*header*/
    .header{
        width: 100%;
    }
    .utk-width{
        width: 100%;
    }
    .header img{
        width: 100%;
        height: 400px;
        object-fit:contain;    
    }

    /*HEADER H1*/
    .header-h1{
        text-align: center;
        background-image: linear-gradient(to right, #5a3f37, #2c7744);
        color: #fff;
        padding: 50px;
       
    }

    .relations-h1{
      background-color:antiquewhite;
    }

    /*card*/
    .card-box {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 300px;
      height: 400px;
      border-radius: 5px;
      
    }
    .card-box-con{
      /*display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:20px*/
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap:20px
    }
    .relations-h1{
      margin-top: 50px;
      margin-bottom: 10px;
      text-align: center;
    }    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card-container{
      padding: 2px 16px;
    }
    .card-box img{
      width: 100%;
    }
    .card-text{
      text-align: center;
      margin-top: 30px;
    }


    /*cardbox-flip*/
    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      border: 1px solid #f1f1f1;
      perspective: 1000px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    .flip-card-front img{
      width: 100%;
    }
    .flip-card-front p{

      margin-top: 100;
    }
    
    .flip-card-back {
      background-color:#fff;
      color: white;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right, #00b09b, #96c93d);

    }
    .flip-card-back h1:hover{
      background-color:#4c9e9e;
    }
    .flip-card-con{
      margin-top: 20px;
      /*display: grid;
      grid-template-columns: repeat(3,1fr);*/
      display:flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      gap:20px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .stu-h1{
      margin-top: 50px;
      text-align: center;
      background-color: antiquewhite;
    }
    .flip-a-h1{  
    color:#f1f1f1;
    margin-top: 50px;
    }
    .flip-p{
      color:#fff;
    }

    /*grid-2*/
    .grid-2{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      
    }
    .grid-text{
      margin-right: 20px;
    }
    .grid-text p{
      text-align: justify;
    }



    /*knowlegde*/
    .knowlegde-zone{
      margin-top: 50px;
    }
    .knowlegde-zone img{
      width: 100%;
    }

    .knowledge-con{
      /*display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 120px;*/
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap: 20px;
    }


    /*study and course*/
    .stdcourse{
      margin-top: 20px;
    }
    .stdcourse img{
      width: 100%;
    }


    /*footer*/
    .footer-top{
      margin-top: 0;
      padding: 3rem;
      background-color:#333;
      color: #fff;
  }
  .footer-top-con{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5rem;
  }
  .footer-top-items-con{
      display: flex;
  }
  .footer-top-items p{
      text-align: left;
  }
  .footer-bottom{
      padding: 20px;
  }
  .footer-bottom p{
      text-align: center;
      color: #333;
  }
  .footer-con .website-items img{
      width: 50%;
  }
  .footer-con .links-items img{
      width:50%;
  }





  /*==================================================================*/
  /*download page*/
  .section-con-download{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Doc-Dow{
    background-color:aliceblue;
  }



  /*Course*/
  .Course-con{
    margin-top: 20px;
  }
  .Course-con h1{
    background-color: antiquewhite;
    margin-bottom: 10px;
  }
  .left{
    display: flex;
    justify-content: center;
    
  }
  .nav-list{
    padding: 10px
  }
  .nav-list a{
    padding-right: 20px;
    color:#333
  }
  .nav-list a:hover{
    background-color:aliceblue;
  }

  /*Plan*/
  .plan-con{
    display: flex;
    flex-flow: column wrap;
  }
  .plan-text{
    margin-top: 20px;
    text-align: center;
    background-color: antiquewhite;
  }
  .csit-con{
    display: block;
    text-align: center;
  }
  .cs{
    padding: 10px;
  }
  .cs-list a{
    margin-left: 20px;
    color: #333;
  }
  .it-list a{
    margin-left: 20px;
    color: #333;
  }
  .cs-list a:hover{
    background-color: #f1f1f1;
  }
  .it-list a:hover{
    background-color: #f1f1f1;
  }

  


  /*Calendar*/
  .calendar-h1{
    margin-top: 25px;
    text-align: center;
    background-color: antiquewhite;
  }
  .nav-list{
    margin-top: 20px;
  }


  /*Guide*/
  .guide-text{
    text-align: center;
    background-color: antiquewhite;
    margin-top: 20px;
  }
  .left{
    display: flex;
  }




  /*PERSONAL*/
  .perso-h1{
    margin-bottom: 10px;
  }
  .section-personal{
    display: flex;
    margin-top: 30px;
  }
  .left-side{
    margin-left: 50px;
    margin-right: 100px;

  }
  .right{
    width: 70%;
  }
  .persolist-list-con{
    width: 130%;
  }
  .perso-list{
    display:flex;
    flex-direction:column;
  }
  .chip{
    margin-bottom: 15px;
  }
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit:contain;    
  }

  .body-con{
    margin: 10px;
    -webkit-font-smoothing:antialiased;
    color:#333332;
    font-family:Lora, serif;
    font-size:18px;
    font-weight:400;
    line-height:1.4;
    text-rendering:optimizeLegibility;
  }
  .wrapper-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .wrapper{
    margin: 150px auto;
    width:100%;
    background-color: #333;
  }
  .img-pic{
    max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 15px;
  }
  .text-box{
    margin: 20px;
    color:#fff;   
  }
  .text-box h2{
    font-size: 40px;
  }
  .text-box p{
    margin-left: 10px;
    padding: 1px;
    font-size: 16px;
    text-align: justify;
  }
  span{
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  em{
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }


  /*forstudent*/  
  .forstudent-con{
    width: 100%;
  }
  .stdlist img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  .forstudent-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  .forstd-h1{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
  }


  /*stdandcourse*/
  .stdc-list{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    gap:20px
  }
  .stdc-list img{
    border-radius: 20px;
  }
  #stdc-h1{
    margin-top: 2rem;
    background-color:#96c93d;
  }
  .stdc-con-list{
    background-color:#f1f1f1;
  }


  /*course cs*/
  table, th, td {
    border: 1px solid;
  }
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  .stdc-con h1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: #F4D03F;
     background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

  }

 
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .menu {
       display:none;
       position: absolute;
       background-color:teal;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;
     }
   
     .menu li:hover {
       display: inline-block;
       background-color:#4c9e9e;
       transition: 0.3s ease;
     }
   
     .menu li + li {
       margin-top: 12px;
     }
   
     input[type=checkbox]:checked ~ .menu {
       display: block;
     }
   
     .hamburger {
       display: block;
     }
   
     .dropdown {
       left: 50%;
       top: 30px;
       transform: translateX(35%);
     }
   
     .dropdown li:hover {
       background-color: #4c9e9e;
     }
     .footer-top-con{
      display: block;
      padding: 20px;
     }
     .section-personal{
      display: block;
     }
     .chip{
      width: 50%;
     }

     .right{
      width: auto;
     }
     .grid-2{
      display: block;
      padding: 20px;
     }
   }
   @media(max-width:480px){
    .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
    .footer-top-con{
     display: block;
     padding: 20px;
   
    }
    .section-personal{
      display: block;
     }
     .chip{
      width: 50%;
     }

     .right{
      width: auto;
     }
     .grid-2{
      display: block;
      padding: 20px;
     }

  }
  @media(min-width:481px) and (max-width:1200px){
    .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
    .footer-top-con{
     display: block;
     padding: 20px;
   
    }
    .section-personal{
      display: block;
     }
     .chip{
      width: 50%;
     }

     .right{
      width: auto;
     }
     .grid-2{
      display: block;
      padding: 20px;
     }
  }
  @media(min-width:1201px)and(max-width:1600px){
    .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
    .footer-top-con{
     display: block;
     padding: 20px;
   
    }
    .section-personal{
      display: block;
     }
     .chip{
      width: 50%;
     }

     .right{
      width: auto;
     }
     .grid-2{
      display: block;
      padding: 20px;
     }
  }
  /*@media(min-width:1601px) {
    .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
    .footer-top-con{
     display: block;
     padding: 20px;
   
    }
    .section-personal{
      display: block;
     }
     .chip{
      width: 50%;
     }

     .right{
      width: auto;
     }
     .grid-2{
      display: block;
      padding: 20px;
     }
  }*/

  

